.ButtonBar-padded {
    position: absolute;
    top: 8px;
    right: 8px;
    left: 8px;
    bottom: 8px;
}

.ButtonBar-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 46px;
    text-align: right;
    background: #272720;
    border-top: 1px solid #373730;
    white-space: nowrap;
}
.ButtonBar-bar .Button {
    margin-left: 8px;
}

.ButtonBar-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 46px;
    left: 0;
    border-bottom: 1px solid #272720;
}

.ButtonBar-content .Button {
    background: #474740;
    background-image: linear-gradient(#575750, #474740);
    background-image: -webkit-linear-gradient(#575750, #474740);
}
.ButtonBar-content .Button:focus {
    background: #676760;
    background-image: linear-gradient(#676760, #575750);
    background-image: -webkit-linear-gradient(#676760, #575750);
}
.ButtonBar-content .Button:hover {
    background: #777770;
    background-image: linear-gradient(#777770, #676760);
    background-image: -webkit-linear-gradient(#777770, #676760);
}
.ButtonBar-content .Button.active,
.ButtonBar-content .Button:active {
    color: #a7a7a0;
    background: #272720;
    background-image: linear-gradient(#272720, #303027);
    background-image: -webkit-linear-gradient(#272720, #303027);
}
