.CheckBox {
    color: #f7f7f0;
    position: relative;
    display: block;
    height: 32px;
    cursor: pointer;
    margin: 4px;
}

.CheckBox-checkbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 32px;
}
.CheckBox-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    transition: background-color 0.1s ease-in-out;
}
.CheckBox-button:focus {
    background-color: #474740;
}
.CheckBox:hover .CheckBox-button {
    background-color: #575750;
}
.CheckBox.active .CheckBox-button,
.CheckBox:active .CheckBox-button {
    background-color: #a7a7a0;
    box-shadow: 0 0px 2px #a7a7a0;
}

.CheckBox-wrapper {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 32px;
}
.CheckBox-wrapper input {
    vertical-align: middle;
    background: #f7f7f0;
}

.CheckBox-label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 40px;
    line-height: 32px;
    -moz-user-select: none;
    -webkit-user-select: none;
}
