.ReplaceFileConfirmDialog {
    width: 490px;
    height: 121px;
}

.ReplaceFileConfirmDialog-fit {
    text-align: center;
}

.ReplaceFileConfirmDialog-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.ReplaceFileConfirmDialog-text {
    display: inline-block;
    vertical-align: middle;
    color: #f7f7f0;
}
