.ToolBar {
    background: #272720 fixed;
}

.ToolBar-bar {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    height: 40px;
    padding: 2px;
    white-space: nowrap;
    background-image: linear-gradient(rgba(247, 247, 240, 0.06), rgba(7, 7, 0, 0.06));
    border-top: 1px solid #474740;
    border-bottom: 1px solid #202017;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
.ToolBar.hidden > .ToolBar-bar {
    opacity: 0;
}

.ToolBar-content {
    position: absolute;
    background: #373730;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid #474740;
    border-bottom: 1px solid #272720;
    transition: top 0.2s ease-in-out;
}

.ToolBar.hidden > .ToolBar-content {
    top: 0;
}

.ToolBar-wrapper {
    top: -1px;
    bottom: -1px;
}

.ToolBar-bar > .ToolButton,
.ToolBar-bar > .HintToolButton {
    margin: 2px;
}
