.File_Bar {
    overflow: hidden;
    background: #c7c7c0;
}

.File_Bar-bar {
    position: absolute;
    height: 40px;
    top: -40px;
    right: 0;
    left: 0;
    transition: top 0.2s ease-in-out;
    -webkit-transition: top 0.2s ease-in-out;
}

.File_Bar-content {
    transition: top 0.2s ease-in-out;
    -webkit-transition: top 0.2s ease-in-out;
}

.File_Bar.visible > .File_Bar-content {
    top: 40px;
}
.File_Bar.visible > .File_Bar-bar {
    top: 0px;
}
.File_Bar .Button {
    margin-left: 5px;
}
.File_ErrorBar-text {
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 74px;
    bottom: 0;
    left: 40px;
    height: 40px;
    line-height: 40px;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.File_ErrorBar-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8px;
    margin: auto;
}

.File_ErrorBar-buttons {
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    height: 30px;
    margin: auto;
}
.File_ErrorBar-close {
    margin-left: 5px;
}
.File_GoToLineBar-label {
    height: 40px;
    width: 100px;
    line-height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: right;
}

.File_GoToLineBar-textField {
    position: absolute;
    top: 0;
    right: 72px;
    bottom: 0;
    left: 0;
    height: 30px;
    margin: auto;
}
.File_GoToLineBar-textField .LeftLabel-label {
    width: 110px;
}
.File_GoToLineBar-textField .LeftLabel-value {
    left: 110px;
}
.File_GoToLineBar-textField .TextField {
    border: 1px solid #c7c7c0;
}

.File_GoToLineBar-buttons {
    position: absolute;
    top: 0;
    right: 4px;
    bottom: 0;
    height: 28px;
    margin: auto;
    width: 64px;
}
.File_LineNumbers {
    background: #e7e7e0;
}

.File_LineNumbers-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 44px;
    transition: left 0.2s ease-in-out;
    -webkit-transition: left 0.2s ease-in-out;
}
.File_LineNumbers.hidden .File_LineNumbers-content {
    left: 0;
}

.File_LineNumbers-bar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transition: left 0.2s ease-in-out;
    -webkit-transition: left 0.2s ease-in-out;
}
.File_LineNumbers.hidden .File_LineNumbers-bar {
    left: -44px;
}

.File_LineNumbers-numbers {
    background: #c7c7c0;
    width: 44px;
    position: relative;
    min-height: 100%;
}

.File_LineNumbers-number {
    font-family: monospace;
    text-align: right;
    margin-right: 1px;
    overflow: hidden;
    color: #777770;
}
.File_LineNumbers-number.current {
    font-weight: bold;
}

.File_LineNumbers-line {
    position: absolute;
    top: 0;
    right: 0;
    left: 44px;
    background: #c7e790;
    height: 16px;
}
.File_OverwriteBar-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8px;
    margin: auto;
}

.File_OverwriteBar-text {
    position: absolute;
    left: 40px;
    right: 320px;
    line-height: 40px;
    vertical-align: middle;
    white-space: nowrap;
}

.File_OverwriteBar-buttons {
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    width: 315px;
    height: 30px;
    margin: auto;
    white-space: nowrap;
}
.File_OverwriteBar-buttons > .HintToolButton {
    vertical-align: middle;
    margin-left: 5px;
}
.File_OverwriteBar-buttons .Button {
    vertical-align: top;
}

.File_OverwriteBar-overwrite {
    width: 100px;
}
.File_OverwriteBar-discard {
    width: 170px;
}
.File_PreviewPane {
    background: #c7c7c0;
}

.File_PreviewPane-bar {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -160px;
    bottom: 0;
    width: 160px;
    transition: right 0.2s ease-in-out;
    -webkit-transition: right 0.2s ease-in-out;
}
.File_PreviewPane.visible .File_PreviewPane-bar {
    right: 0;
}

.File_PreviewPane-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: right 0.2s ease-in-out;
    -webkit-transition: right 0.2s ease-in-out;
}
.File_PreviewPane.visible > .File_PreviewPane-content{
    right: 160px;
}

.File_PreviewPane-wrapper {
    font-family: monospace;
    white-space: pre;
}

.File_PreviewPane-fader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 24px;
    background: linear-gradient(to right, rgba(199, 199, 192, 0), #c7c7c0);
    background: -webkit-linear-gradient(left, rgba(199, 199, 192, 0), #c7c7c0);
}

.File_PreviewPane-viewport {
    position: absolute;
    right: 0;
    left: 0;
    background: #e0e0d7;
}

.File_PreviewPane-text {
    position: relative;
}
.File_ReplaceBar > .File_Bar-bar {
    height: 36px;
}
.File_ReplaceBar.visible > .File_Bar-content {
    top: 36px;
}

.File_ReplaceBar-textField {
    position: absolute;
    right: 170px;
    top: 0;
    left: 0;
    height: 30px;
}
.File_ReplaceBar-textField .LeftLabel-label {
    width: 110px;
}
.File_ReplaceBar-textField .LeftLabel-value {
    left: 110px;
}
.File_ReplaceBar-textField .TextField {
    border: 1px solid #b7b7b0;
}

.File_ReplaceBar-buttons {
    position: absolute;
    top: 0;
    right: 5px;
    width: 165px;
    margin: auto;
}

.File_ReplaceBar-replaceButton {
    vertical-align: top;
    width: 95px;
}

.File_ReplaceBar-replaceAllButton {
    vertical-align: top;
    width: 60px;
    margin-left: 5px;
}
.File_SearchBar-textField {
    position: absolute;
    right: 145px;
    top: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    margin: auto;
}
.File_SearchBar-textField .LeftLabel-label {
    width: 110px;
}
.File_SearchBar-textField .LeftLabel-value {
    left: 110px;
}
.File_SearchBar-textField .TextField {
    border: 1px solid #b7b7b0;
}

.File_SearchBar-buttons {
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    height: 30px;
    margin: auto;
    width: 140px;
}
.File_SearchBar-buttons > .HintToolButton {
    margin-left: 5px;
}
.File_StatusBar {
    overflow: hidden;
}

.File_StatusBar-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 40px;
    left: 0;
    transition: bottom 0.2s ease-in-out;
    -webkit-transition: bottom 0.2s ease-in-out;
}
.hidden > .File_StatusBar-content {
    bottom: 0;
}

.File_StatusBar-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    border-top: 1px solid #474740;
    border-left: 1px solid #474740;
    border-bottom: 1px solid #202017;
    background: #272720 fixed;
    transition: bottom 0.2s ease-in-out;
    -webkit-transition: bottom 0.2s ease-in-out;
}
.hidden > .File_StatusBar-bar {
    bottom: -40px;
}

.File_StatusBar-wrapper {
    position: absolute;
    top: -1px;
    right: 0;
    bottom: -1px;
    left: -1px;
    text-align: right;
    background-image: linear-gradient(rgba(247, 247, 240, 0.06), rgba(7, 7, 0, 0.06));
    background-image: -webkit-linear-gradient(rgba(247, 247, 240, 0.06), rgba(7, 7, 0, 0.06));
}

.File_StatusBar-field {
    color: #e7e7e0;
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
}

.File_StatusBar-fieldLabel {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    text-align: right;
    padding-right: 4px;
    line-height: inherit;
}

.File_StatusBar-fieldValue {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    text-align: left;
    line-height: inherit;
}
