.File_ErrorBar-text {
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 74px;
    bottom: 0;
    left: 40px;
    height: 40px;
    line-height: 40px;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.File_ErrorBar-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8px;
    margin: auto;
}

.File_ErrorBar-buttons {
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    height: 30px;
    margin: auto;
}
.File_ErrorBar-close {
    margin-left: 5px;
}
