.File_PreviewPane {
    background: #c7c7c0;
}

.File_PreviewPane-bar {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -160px;
    bottom: 0;
    width: 160px;
    transition: right 0.2s ease-in-out;
}
.File_PreviewPane.visible .File_PreviewPane-bar {
    right: 0;
}

.File_PreviewPane-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: right 0.2s ease-in-out;
}
.File_PreviewPane.visible > .File_PreviewPane-content{
    right: 160px;
}

.File_PreviewPane-wrapper {
    font-family: monospace;
    white-space: pre;
}

.File_PreviewPane-fader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 24px;
    background: linear-gradient(to right, rgba(199, 199, 192, 0), #c7c7c0);
}

.File_PreviewPane-viewport {
    position: absolute;
    right: 0;
    left: 0;
    background: #e0e0d7;
}

.File_PreviewPane-text {
    position: relative;
}
