.File_StatusBar {
    overflow: hidden;
}

.File_StatusBar-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 40px;
    left: 0;
    transition: bottom 0.2s ease-in-out;
    -webkit-transition: bottom 0.2s ease-in-out;
}
.hidden > .File_StatusBar-content {
    bottom: 0;
}

.File_StatusBar-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    border-top: 1px solid #474740;
    border-left: 1px solid #474740;
    border-bottom: 1px solid #202017;
    background: #272720 fixed;
    transition: bottom 0.2s ease-in-out;
    -webkit-transition: bottom 0.2s ease-in-out;
}
.hidden > .File_StatusBar-bar {
    bottom: -40px;
}

.File_StatusBar-wrapper {
    position: absolute;
    top: -1px;
    right: 0;
    bottom: -1px;
    left: -1px;
    text-align: right;
    background-image: linear-gradient(rgba(247, 247, 240, 0.06), rgba(7, 7, 0, 0.06));
    background-image: -webkit-linear-gradient(rgba(247, 247, 240, 0.06), rgba(7, 7, 0, 0.06));
}

.File_StatusBar-field {
    color: #e7e7e0;
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
}

.File_StatusBar-fieldLabel {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    text-align: right;
    padding-right: 4px;
    line-height: inherit;
}

.File_StatusBar-fieldValue {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    text-align: left;
    line-height: inherit;
}
