.FileTabs_ScrollBar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-top: 1px solid #474740;
    border-bottom: 1px solid #202017;
    border-left: 1px solid #474740;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.FileTabs_ScrollBar.visible {
    opacity: 1;
}

.FileTabs_ScrollBar-gradient {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    left: 0;
    background-image: linear-gradient(rgba(247, 247, 240, 0.06), rgba(7, 7, 0, 0.06));
}

.FileTabs_ScrollBar-center {
    position: absolute;
    top: -1px;
    right: 24px;
    bottom: -1px;
    left: 24px;
    overflow-x: hidden;
    overflow-y: visible;
}

.FileTabs_ScrollBar-container {
    white-space: nowrap;
}

.FileTabs_ScrollBar-items {
    background: rgba(247, 247, 240, 0.1);
    display: inline-block;
    position: relative;
    vertical-align: top;
    transition: left 0.2s ease-in-out;
}
