.Menu_Item {
    position: relative;
    white-space: nowrap;
}

.Menu_Item-shortcut {
    text-align: right;
    position: absolute;
    top: 0;
    right: 6px;
    bottom: 0;
    width: 120px;
    color: rgba(255, 255, 255, 0.5);
    height: 40px;
    line-height: 40px;
}

.Menu_Item-button {
    white-space: nowrap;
    position: relative;
    height: 40px;
    color: #f7f7f0;
    cursor: pointer;
}
.Menu_Item-button.focused {
    background: #669900;
    background-image: linear-gradient(#77aa11, #669900);
    box-shadow: 0 0 2px #77aa11 inset;
}
.Menu_Item-button.disabled {
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
}
.Menu_Item-button.disabled.focused {
    background: transparent;
    box-shadow: none;
}
.Menu_Item-button.disabled .Menu_Item-icon {
    opacity: 0.4;
}

.Menu_Item-icon {
    position: absolute;
    top: 8px;
    left: 8px;
}

.Menu_Item-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    padding: 0 120px 0 40px;
    white-space: nowrap;
}
